name: Deploy Web

# run on tag creation
on:
  push:
    tags:
      - "*"

permissions:
  contents: write
jobs:
  deploy-for-web:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: kuhnroyal/flutter-fvm-config-action@v1
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: ${{ env.FLUTTER_CHANNEL }}
          cache: true
      - run: flutter --version

      - run: flutter config --enable-web
      - run: flutter pub get
      - name: Build for web
        # working-directory: example/ # assuming example/ project folder should be built. remove this line if project root folder should be built.
        run: flutter build web --release
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.7.1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: build/web
          CLEAN: true
